* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: darkgray;

  height: 100%;
}
header {
  background-image: linear-gradient(black, transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  padding: 16px 20px;
  background-image: linear-gradient(to right, red, red, red, black);
  font-style: bold;
  color: white;
  border-radius: 8%;
  margin: 5px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  gap: 12px;

  width: 180px;
  height: 60px;
}
button img {
  width: 50px;
  height: 50px;
}
.antoniologo {
  display: flex;
  color: yellow;
  font-size: medium;
  padding: 5px 5px;
  align-items: center;
  gap: 10px;
  border-radius: 20%;
}
ul {
  display: flex;
  gap: 50px;

  color: yellow;
}
#logoant {
  border-radius: 100%;
}
#logoifood {
  border-radius: 75%;
}
